@import "../../../../variables.scss";

.myRow {
  display: flex;
  gap: 1.5rem;
}

button {
  background-color: $silver;
  border: none;
}

.iconHolder {
  width: 1.25rem;
  height: 1.25rem;
}

.turn {
  color: $silver;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.myCol {
  display: flex;
  align-items: center;
  // border: 1px solid black;
  height: 2rem;
  width: 6rem;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $semi-dark-navy;
  box-shadow: 0px -4px 0px 0px #10212a inset;
  border-radius: $border-radius-game-pieces;

  .iconHolder {
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
}

.resetButton {
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0px 5px 0px 0px rgba(168, 191, 201, 0.2);
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .myCol {
    height: 3.25rem;
    width: 8.75rem;
  }
}

@media (min-width: 992px) {
}
