@import "../../../variables.scss";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  gap: 2rem;
  width: 20.5rem;

  .logoHolder {
    border: 1px solid black;
  }

  .symbolPicker {
    border: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $semi-dark-navy;

    .pick {
      color: $silver;
    }

    .reminder {
      color: $opaque-silver;
    }

    .symbolHolder {
      border: 1px solid black;
      display: flex;
      justify-content: center;
    }

    .selected {
      background-color: $silver;
    }
  }

  .buttonHolder {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    button {
      color: $dark-navy;
      background-color: $light-blue;
    }
  }
}

.iconXColor {
  color: #31c3bd; // Change this color as needed
}
