@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

$light-blue: rgba(49, 195, 189, 1);
$light-blue-hover: rgba(101, 233, 228, 1);
$light-yellow: rgba(242, 177, 55, 1);
$light-yellow-hover: rgba(255, 200, 96, 1);
$dark-navy: rgba(26, 42, 51, 1);
$semi-dark-navy: rgba(31, 54, 65, 1);
$silver: rgba(168, 191, 201, 1);
$opaque-silver: rgba(168, 191, 201, 0.5);
$silver-hover: rgba(219, 232, 237, 1);
$silver: #a8bfc9;

$outfit-font: "Outfit", sans-serif;

$border-radius-game-pieces: 0.5rem;
